<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <main class="main">
        <section>
            <h1>All Requests</h1>
            <section class="requests border-smooth">
                <%requests.forEach(request=>{ %>

                <section>
                    <div class="request">
                        <div>
                            <div class="username-icon"><%= request.username[0].toUpperCase() %></div>
                        </div>
                        <div>
                            <header>
                                <a href="/dashboard/<%= request.slug%>" class="title"><%= request.title %></a>
                            </header>
                            <p class="description"><%= request.description.substr(0,70) %>...
                            </p>
                            <div class="duration" style="font-size: 1.2rem;">
                                <i class="fas fa-clock" style="font-size: 1.2rem;"></i> <%= request.delivery %> days
                            </div>
                            <div class="request-meta">
                                <div>
                                    <div class="amount">
                                        ₦<%= request.price %>
                                    </div>
                                </div>
                                <%if(request.offers.find(offer=>offer.username===loggedUser)){%>
                                <div>
                                    <i class="fa fa-check-circle" style="color: #33bd4b;font-size: 1.3rem;"></i>
                                    <span style="color: #33bd4b; font-size: 1.3rem;">Offer sent</span>

                                </div>

                                <%}else if(loggedUser!==request.username){%>
                                <div>
                                    <a class="send-offer" href="/dashboard/<%= request.slug%>">Send Offer</a>
                                </div>
                                <%}else{%>
                                <div>
                                    <i class="fa fa-check-circle" style="color: #33bd4b;font-size: 1.3rem;"></i>
                                    <span style="color: #33bd4b; font-size: 1.3rem;">Approved</span>

                                </div>

                                <%}%>
                            </div>
                            <div class="font13">
                                <a href="#" class="text-link-with-hover"><%= request.username %> </a>-
                                <span> <%= request.createdAt.toDateString() %></span>
                            </div>

                        </div>
                    </div>
                    <div class="divider"></div>
                </section>
                <%})%>


            </section>
    </main>

</body>

</html>