<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script defer src="../../js/chat-detailed.js"></script>
</head>

<body>
    <%- include('./partials/header.ejs')%>
    <main class="main" id="main">
        <input type="hidden" id="hidden-username" value="<%= loggedUser%>">
        <input type="hidden" id="hidden-receiver" value="<%= recipient %>">


        <section>
            <div class="flex-between border-bottom  padd10 bg-white">
                <div>
                    <i class="fa fa-circle" style="font-size: 1.3rem;"></i>
                    <span class="bold font13"><%= recipient %></span>
                    <span class="typing-status hide"></span>
                </div>
                <div>
                    <i class="fa fa-angle-double-left bold font13 "></i>
                    <a href="/dashboard/inbox" class="font13">Back</a>
                </div>
            </div>
            <div class="message-container">
                <% chats.forEach(chat=>{ %>
                <% if(chat.from===loggedUser){%>

                <div class="flex-end">
                    <div class="padd10 message-sent font13 ">
                        <div>
                            <div class="padd20-bottom">
                                <%= chat.message%>
                            </div>
                            <div class="flex-end font10"><%= chat.createdAt %>
                                <i class="fa fa-check text-blue"></i>
                                <i class="fa fa-check text-blue"></i></div>
                        </div>
                    </div>
                </div>

                <%}else{%>
                <div class="flex-start">
                    <div class="padd10 message-received font13">
                        <div>
                            <div class="padd20-bottom">
                                <%= chat.message%>
                            </div>
                            <div class="flex-end font10"><%= chat.createdAt %></div>
                        </div>
                    </div>
                </div>
                <%}%>
            <%})%>
            </div>


        </section>
        <div class="message-control bg-white padd10 padd10-bottom">
            <div>
                <textarea name="" cols="30" rows="2" class="fill-width padd8 outline-none border-smooth"
                    placeholder="Enter your message..." id="message"></textarea>
            </div>
            <div style="margin-top: 5px;" class="flex-between">
                <div>
                    <i class="fa fa-paperclip font16"></i>
                    <span class="font12">Multiple files allowed</span>
                </div>
                <button class="button send-chat-button">Send</button>
            </div>
        </div>

    </main>


</body>

</html>