<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="main">
        <div class="grid-2-21">
            <section class="about-fix-section">
                <h1>
                    <%= fix.title %>
                </h1>

                <div class="fix-meta">
                    <div>
                        <i class="fas fa-clock"></i>
                        <span><%= fix.delivery_days%> day(s)</span> <span> delivery</span>
                    </div>
                    <div>

                        <% if(fix.ratings.length>0){ %>
                        <% let theSum=0 %>
                        <% for(let rating of fix.ratings){ %>
                        <% theSum +=rating*1 %>

                        <% } %>
                        <i class="fa fa-star"></i>
                        <span><%= (theSum/(fix.ratings.length)).toFixed(1) %>(<%= fix.ratings.length %> reviews) </span>
                        <% }else{ %>
                        <i class="fa fa-star" style="color: inherit;"></i>
                        <span>0</span>
                        <% } %>

                    </div>
                    <div>
                        <i class="fa fa-eye"></i>
                        <span><%= fix.views %></span>
                        <span> Views</span>
                    </div>
                </div>
                <div class="corousel-container">
                    <div class="image-carousel-wrapper">
                        <% fix.images_url.forEach((image,id)=>{ %>
                        <div data-id="<%= id*1+1 %>">
                            <img src="<%= image %>" alt="image for the fix: <%= fix.title %>">
                        </div>

                        <% }) %>


                    </div>
                    <div class="carousel-nav">
                        <% if(fix.images_url.length!==1){ %>
                        <i class="fa fa-angle-left"></i>
                        <i class="fa fa-angle-right"></i>
                        <% }%>
                    </div>
                </div>
                <% if(fix.images_url.length!==1){ %>

                <div class="carousel-tombnail">
                    <% fix.images_url.forEach((image,id)=>{ %>
                    <div data-id="<%= id*1+1 %>">
                        <img src="<%= image %>" alt="image for the fix: <%= fix.title %>">
                        <div></div>
                    </div>
                    <% }) %>

                </div>
                <% } %>
                <div>
                    <h2>About this Fix</h2>
                    <p>
                        <%= fix.description %>
                    </p>
                </div>
                <div class="tags">
                    <% fix.tags.forEach(tag=>{ %>
                    <a href="" class="tag anchor-hover-blue-underline"><%= tag%></a>
                    <% })%>
                </div>
                <div class="category-and-subcategory">
                    This fix is posted in <a href=""><%= fix.subcategory %></a>, <a href=""><%= fix.category %></a>
                </div>
                <div class="grid-2-13">
                    <div>
                        <button class="control-btn">Contact Seller</button>
                    </div>
                    <div>
                        <button class="control-btn center-text orange-btn">Order Now ₦<%= fix.price %></button>
                    </div>
                </div>
                <div>
                    <h2 class="border-bottom">
                        Ratings
                    </h2>
                    <div style="font-size: 1.6rem;padding: 40px 10px 30px 10px;">
                        No reviews Yet
                    </div>
                </div>
            </section>
            <section>
                <a href="" class="control-btn center-text">Edit fix ₦<%= fix.price %></a>
                <section id="about-seller-section">

                    <h2>About the Seller</h2>
                    <div>
                        <div class="online-status" style="padding: 10px 15px 15px 10px;">
                            <div>
                                <i class="fa fa-circle user-offline"></i>

                                <span class="user-offline">Offline</span>
                            </div>
                        </div>
                        <div class="center-text flex-center">
                            <div>
                                <div class="seller-username-icon" style="background-color: <%= user.userColor %>;">
                                    <%= fix.username[0].toUpperCase() %>
                                </div>

                            </div>
                            <!-- <style>
                                .seller-username-icon {
                                    background-color: <%=user.userColor%>;
                                }
                            </style> -->
                            <div>
                                <img src="" alt="">
                            </div>
                            <div class="fix-seller-username">
                                <a href=""><%= fix.username %></a>
                            </div>
                        </div>
                        <div class="center-text seller-bio">
                            <%= user.bio %>

                        </div>

                        <div class="center-text rating-wrapper">
                            <% if(fix.ratings.length>0){ %>
                            <% let theSum=0 %>
                            <% for(let rating of fix.ratings){ %>
                            <% theSum +=rating*1 %>

                            <% } %>
                            <span>Rating:</span>
                            <i class="fa fa-star star-bad"></i>
                            <span><%= (theSum/(fix.ratings.length)).toFixed(1) %>(<%= fix.ratings.length %>)</span>
                            <% }else{ %>
                            <span>Rating:</span>
                            <i class="fa fa-star star-bad"></i>
                            <span>0</span>
                            <% } %>

                        </div>
                        <div class="center-text user-ongoing-orders">
                            <i class="fas fa-clock text-success"></i> <span>Ongoing Orders:</span>
                            <span><%= user.summary[3][1]%></span>
                        </div>
                        <div class="contact-seller-wrapper">
                            <button>Contact Seller</button>
                        </div>
                        <div class="secured">
                            <div>
                                <i class="fas fa-shield-alt text-success"></i>
                            </div>
                            <div class="center-text">
                                <div><strong>100% Secured</strong></div>
                                <div>
                                    Job is done or Money back
                                </div>
                            </div>
                            <div></div>
                        </div>
                        <div
                            style="padding: 10px; font-size: 1.6rem;color: #374355;line-height: 1.5; border-top: 1px solid #ddd;">
                            Your funds are held on Escrow and not sent to the seller. When an order is placed, a page is
                            created
                            where you can communicate with the seller
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <section>
            <div>
                <% if(userFixes.length>1){ %>
                <h2 style="font-size: 2rem;font-weight: bolder;margin: 25px 0px;">More fixes by <%= fix.username %>
                </h2>
                <% }%>

                <div class="grid-responsive-max6">
                    <% for(let aFix of userFixes){ %>
                    <% if(aFix.titleSlug===fix.titleSlug) continue %>
                    <div class="fix-card">
                        <div class="grid-2-12-card">
                            <a href="/fix/<%= aFix.subcatSlug %>/<%= aFix.titleSlug %>">
                                <div class="fix-image-wrapper">
                                    <img src="<%= aFix.images_url[0] %>" alt="">
                                </div>
                            </a>
                            <div class="fix-username-and-presence desktop padding-sides" style="padding-bottom:10px;">
                                <i class="fa fa-circle"></i>
                                <span style="font-weight: bold;"> <%= aFix.username%></span>

                            </div>
                            <div>
                                <a href="/fix/<%= aFix.subcatSlug %>/<%= aFix.titleSlug %>"
                                    class="anchor-hover-blue-underline fix-title block">
                                    <%= aFix.title.toLowerCase().substr(0,40) %>...
                                </a>
                                <div class="duration-and-rating-trust">
                                    <i class="fas fa-clock"></i>
                                    <span><%= aFix.delivery_days %> day(s)</span>

                                </div>

                            </div>
                        </div>

                        <div class="amount-and-user">
                            <div class="duration-and-rating-trust desktop" style="padding-bottom:10px">
                                <i class="fas fa-clock"></i>
                                <span><%= aFix.delivery_days %> day(s)</span>

                            </div>
                            <div class="fix-username-and-presence mobile" style="padding-bottom:10px;">
                                <i class="fa fa-circle"></i>
                                <span style="font-weight: bold;"> <%= aFix.username%></span>

                            </div>
                            <div class="fix-amount-green">
                                ₦<%= aFix.price%>
                            </div>
                        </div>

                    </div>

                    <% } %>
                </div>
            </div>

        </section>
        <section>
            <div>
                <h2 style="font-size: 2rem;font-weight: bolder;margin: 25px 0px;">Recommended for you</h2>
                <div style="overflow-x: auto;">
                    <div class="scroll6-wrapper">
                        <% for(let recommendation of userFixes){ %>
                        <div class="scroll-6-item">
                            <div class="scroll-6-image-wrapper">
                                <img src="<%= recommendation.images_url[0] %>" alt="">
                            </div>
                            <div class="fix-user-status scroll-6-user-status">
                                <i class="fa fa-circle"></i>
                                <span><%= recommendation.username %></span>
                            </div>

                            <a href="/fix/<%=recommendation.subcatSlug %>/<%= recommendation.titleSlug %>"
                                class="scroll-6-user-fix-title block anchor-hover-blue-underline">
                                <%= recommendation.title.substr(0,40).toLowerCase()%>
                            </a>
                            <div class="fix-footer">
                                <div>
                                    <i class="fas fa-clock"></i>
                                    <span>
                                        <%= recommendation.delivery_days%> day(s)
                                    </span>
                                </div>
                                <div class="fix-amount-green">
                                    ₦<%= recommendation.price%>
                                </div>
                            </div>
                        </div>
                        <% } %>

                    </div>
                    <div>
                    </div>
        </section>


    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>