<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header class="bg-white" style="background: #fefefe;">
        <div class="margin10-top padd10">
            <a href="/" style="width: 100px;" class="block">
                <img src="../../images/logo.png" alt="">
            </a>

        </div>
        <div class="margin10-top padd10">
            <ul class="font12 flex">
                <li>
                    <a href="/login" class="font14 margin10-right link-hover-underline bold">Login</a>|
                </li>
                <li>
                    <a href="/register"
                        class="font14 margin10-right margin10-sides link-hover-underline bold">Register</a><span
                        class="desktop">|</span>
                </li>
                <li class="desktop">
                    <a href="" class="font14 margin10-sides link-hover-underline bold">Invite Friends</a>
                </li>
            </ul>
        </div>
        <div class="font29 center-text">
            <div class="padd10" style="margin-bottom: -7px;">
                <span>Find</span>
                <span class="bold text-orange">Services</span>

            </div>
            <div>
                for your business
            </div>

        </div>
        <div class="padd30 center-text">
            <div>
                <input type="text" class="block padd10 bg-white"
                    style="width: 100%;outline: none;border-radius: 4px;border: 1px solid #ddd;"
                    placeholder="Try 'logo'">
            </div>
            <div>
                <button class="block button-search-index full-width margin5-top">
                    <i class="fa fa-search text-white font15"></i>
                    Search
                </button>

            </div>
        </div>
        <div class="padd20 secured-index">
            <div class="grid2-1-6">
                <div>
                    <i class="fas fa-shield-alt text-success font40"></i>
                </div>
                <div class="margin5-top">
                    <div class="bold font18">
                        100% secured
                    </div>
                    <div class="font14 margin10-top ">
                        Job is done or Money back

                    </div>
                </div>
            </div>
        </div>



    </header>

    <main class="main" style="box-shadow: 2rem 0.15rem 5rem 0 rgba(58, 59, 69, 0.15);">
        <div class="margin10-top">
            <a href="/section/writing">
                <img src="../../images/cat3.jpg">
            </a>

        </div>
        <div class="margin40-top">
            <h2 class="bold font20">
                Categories
            </h2>
            <div style=" overflow: auto;padding-bottom: 10px;" class="margin20-top">
                <div class="cat-scroll-container" style="display: flex;">
                    <% categories.forEach(cat=>{ %>
                    <div class="bg-white circle">
                        <a href="/section/<%= cat.catSlug %>" class="font14 block  subcatBtn "
                            data-subcatslug="<%= cat.catSlug %>">
                            <%= cat.name %>
                        </a>
                    </div>
                    <%})%>
                </div>
            </div>
        </div>
        <section class="margin30-top">
            <div>
                <h2 class="bold font20">
                    Featured
                </h2>
            </div>
            <div class="auto-scroll">


                <div class="margin20-top scroll-flex">
                    <%featuredFixes.forEach(featured=>{%>


                    <div class="bg-white featured-card-large">
                        <div style="height: 160px;">
                            <img src="<%=featured.images_url[0]%>" alt="">
                        </div>
                        <div class="font14 padd10">
                            <i class="fa fa-circle font13"></i>
                            <span><%=featured.username%></span>

                        </div>
                        <div class="font16 padd10 title-featured">
                            <a href="" class="">
                                <%=featured.title.substr(0,50)%>...
                            </a>


                        </div>
                        <div class="flex-between padd10 font15">
                            <div>
                                <i class="fa fa-star"></i>
                                <span class="">2.4</span> <span>(4)</span>
                            </div>
                            <div class="text-green">
                                ₦<%=featured.price%>
                            </div>

                        </div>
                    </div>
                    <%})%>
                </div>
            </div>
        </section>

        <section class="recommendations">
            <h2 class="bold font20">Recommended for you</h2>
            <section class="grid-responsive-6">
                <%recommendedations.forEach(fix=>{%>
                <%-featured(fix)%>
                <%})%>
                <!-- to insert recommendations -->
            </section>
        </section>
        <!-- 
        <div class="margin20-top border-smooth margin30-bottom">
            <div class="padd20 font15" style="background:#f8f9fc ;">


                <div>
                    Find More Services
                </div>
                <div class="margin30-bottom margin5-top">
                    <input type="text" class="block padd10 bg-white"
                        style="width: 100%;outline: none;border-radius: 4px;border: 1px solid #ddd;"
                        placeholder="Try 'website'">
                </div>
            </div>
        </div> -->

        <div class="margin20-bottom margin20-top">
            <div class="border-smooth card-shadow bg-white padd10 padd60-top">
                <div class="padd40-bottom">


                    <strong class="bold font18">
                        Find an Expert for Anything

                    </strong>
                </div>

                <ul>
                    <li class="font16 margin30-bottom">
                        <h4 class="margin10-bottom">
                            <span class="bold">
                                <i class="fa fa-check text-success"></i>
                                Always covered
                            </span>
                        </h4>
                        <p>
                            Whether you need writers, graphic designers, programmers etc we have got you covered. Find
                            Services in minutes with fixed prices. No Setup fee, no hidden fee.
                        </p>
                    </li>

                    <li class="font16 margin30-bottom ">
                        <h4 class="margin10-bottom">
                            <i class="fa fa-check text-success"></i>

                            <span class="bold ">
                                Zero Risk, MoneyBack Guaranteed
                            </span>
                        </h4>
                        <p>
                            Payments are held on escrow with us.
                            We only release payments to the freelancer once you are satisfied.
                        </p>
                    </li>
                </ul>
            </div>
        </div>



    </main>
    <section class="bg-white">
        <div>
            <div class="padd20-top">
                <h2 class="font18 bolder center-text">
                    AS SEEN ON:
                </h2>

            </div>
            <div class="honourable-mention-wrapper margin30-top border-bottom padd30-bottom">
                <div class="honourable-mention">
                    <a href="">
                        <img src="../../images/disrupt.png" alt="">
                    </a>
                </div>
                <div class="honourable-mention">
                    <a href="">
                        <img src="../../images/Techpoint.png" alt="">
                    </a>
                </div>
                <div class="honourable-mention">
                    <a href="">
                        <img src="../../images/nairaland.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="padd90-top padd60-bottom">

            <div class="center-text margin30-bottom">
                <i class="fas fa-shield-alt text-success font18"></i>
                <strong class="bold font18">
                    Funds Protected
                </strong>
            </div>
            <div class="font15 center-text">
                <p class="margin30-bottom line-height">
                    We monitor every transaction and have smart procedures to protect you from phishing, fraud and
                    identity
                    theft.
                </p>

                <div class="margin30-bottom">
                    <p>
                        Deposits are processed by us and Secured by:
                    </p>
                    <div style="display: flex;justify-content: center;">
                        <img src="../../images/paystack.png" alt="" style="width: 100px;">
                    </div>
                </div>

                <div>
                    For partnership: <a href="/" class="text-link-with-hover">Send us an Email.</a>
                </div>
            </div>
        </div>


    </section>
    <footer class="index-footer">
        <div class="padd20" style="margin-top: -30px!important;">
            <ul class="center-text  padd20-top index-footer-nav">
                <li class="margin20-right">
                    <a href="" class=" text-grey font14">
                        About Us
                    </a>
                </li>

                <li class="margin20-right">
                    <a href="" class=" text-grey font14">
                        How it works
                    </a>
                </li>
                <li class="margin20-right">
                    <a href="" class=" text-grey font14">
                        FAQs
                    </a>
                </li>

                <li class="margin20-right">
                    <a href="" class=" text-grey font14">
                        Affiliate Programs
                    </a>
                </li>
                <li class="margin20-right">
                    <a href="" class=" text-grey font14">
                        Terms
                    </a>
                </li>
                <li style="line-height: 4;">
                    <a href="" class=" text-grey font14">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>

        <div class="center-text font13 text-grey index-copy ">
            ©2020Fixlancer. Fixlancer is a registered Trademark of Fixlancer Marketplace
        </div>


    </footer>
</body>

</html>