<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="main">
        <section>
            <h1>My Sales</h1>
            <section class="orders-and-sales">

                <header class="sales-and-orders-headings">
                    <div><a href="/dashboard/my-sales">Ongoing(<span><%=salesCounts.ongoing%></span>)</a>
                    </div>
                    <div><a href="/dashboard/my-sales/delivered">Delivered(<span><%=salesCounts.delivered%></span>)</a>
                    </div>
                    <div><a href="#" class="active">Completed(<span><%=salesCounts.completed%></span>)</a>
                    </div>
                    <div><a href="/dashboard/my-sales/cancelled">Cancelled(<span><%=salesCounts.cancelled%></span>)</a>
                    </div>
                </header>

                <section class="bg-white desktop">
                    <div class="grid-table padd10 border-bottom">
                        <h3>BUYER</h3>
                        <h3>FIX</h3>
                        <h3>DELIVERY</h3>
                        <h3>AMOUNT</h3>
                    </div>
                    <%sales.forEach(sale=>{ %>

                    <%-renderSalesAndOrderDesktop(sale)%>

                    <%})%>
                    <%if(sales.length===0){%>
                    <div class="padd30 center-text font16 bg-white">
                        <div class="padd30 bold">
                            No Sales
                        </div>

                    </div>
                    <%}%>
                    
                </section>
                <script>
                    const userColors = document.querySelectorAll(" .user-avatar"); userColors.forEach(user => {
                        user.style.backgroundColor = user.dataset.color
                        user.style.marginRight = "8px"
                    });
                </script>
                <%if(sales.length===0){%>
                    <div class="padd30 center-text mobile font16 bg-white">
                        <div class="padd30 bold">
                            No Sales
                        </div>

                    </div>
                    <%}%>
                <div class="mobile grid-responsive-max3">
                   
                    <%sales.forEach(sale=>{ %>

                    <%-renderSalesAndOrderMobile(sale) %>


                    <%})%>
                    </div>

                </section>

            </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>