<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <script defer src="../js/order-chat.js"></script>

</head>

<body>
    <div class="delivery-modal the-modal hide">
        <div class="bg-white border-smooth full-width" style="height: fit-content;max-width: 500px;">
            <header class="flex-between bg-heading padd10">
                <div class="font16 bold">
                    <i class="fa fa-gift"></i>
                    <span>Deliver Work</span>

                </div>
                <div>
                    <i class="fa fa-close modal-close close-delivery-modal font15"></i>
                </div>
            </header>
            <div class="padd20">
                <div class="font12 margin10-top margin20-bottom">
                    <i class="fa fa-exclamation-circle"></i>
                    <span> Sharing contact details is strictly not allowed here</span>
                </div>
                <div>
                    <fieldset>
                        <textarea name="" id="" cols="30" rows="5"></textarea>
                    </fieldset>
                </div>
                <div class="flex-start flex-wrap ">
                    <input type="file" style="width: 200px;"
                        class="padd10 padd5-top-bottom border-smooth margin5-top margin5-right font12">
                    <input type="file" style="width: 200px;"
                        class="padd10 padd5-top-bottom border-smooth margin5-top margin5-right font12">
                    <input type="file" style="width: 200px;"
                        class="padd10 padd5-top-bottom border-smooth margin5-top margin5-right font12">
                    <input type="file" style="width: 200px;"
                        class="padd10 padd5-top-bottom border-smooth margin5-top margin5-right font12">
                    <input type="file" style="width: 200px;"
                        class="padd10 padd5-top-bottom border-smooth margin5-top margin5-right font12">
                </div>
                <div>
                    <button
                        class="margin20-top bg-green text-white center-text border-grren font16 padd10-sides padd5-top-bottom border-radius5 margin10-bottom no-outline">
                        Deliver Work
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="cancellation-modal the-modal hide">
        <div class="bg-white border-smooth" style="height: fit-content;max-width: 500px;">
            <header class="bg-heading bold padd20 center-text margin20-bottom" style="position: relative;">
                <h2 class="font16">Confirm Cancellation</h2>
                <i class="fa fa-close modal-close close-request-modal font15"></i>

            </header>
            <div class="center-text padd20">
                <div>
                    <button
                        class="border-smooth padd10 padd5-top-bottom font15 bg-dark-red text-white pointer no-outline hover-red">Yes
                        Cancel</button>
                </div>
                <div class="font14 margin20-top">
                    When you request a mutual cancellation, your order is not cancelled immediately. The
                    <%=order.seller===loggedUser?"buyer":"seller"%> is given
                    2 days to accept or decline your offer to cancel
                </div>
            </div>

        </div>
    </div>

    <!-- hidden inputs -->
    <input type="hidden" class="sender" value="<%=loggedUser%>">
    <input type="hidden" class="receiver" value="<%=recipient%>">
    <input type="hidden" class="order-id" value="<%=order.order_id%>">
    <input type="hidden" class="timer" value="<%=timer.timeIt%>">



    <%- include('./partials/header.ejs') %>

    <main class="main">
        <div class="flex-start">
            <div class="margin10-right">
                <button
                    class="request-cancellation margin10-top bg-dark-red text-white center-text border-dark-red font12 padd10-sides padd5-top-bottom border-radius5 margin10-bottom no-outline">
                    Request Cancellation
                </button>
            </div>
            <%if(order.seller===loggedUser){%>
            <div>
                <button
                    class="request-delivery margin10-top bg-green text-white center-text border-grren font12 padd10-sides padd5-top-bottom border-radius5 margin10-bottom no-outline">
                    Deliver Work
                </button>
            </div>
            <%}%>
        </div>
        
        <%if(!order.hasStarted){ %>



            <div class="font16 bg-white padd10 margin10-bottom border-smooth bold text-orange">
                Order placed-<%=order.createdAt.toDateString()%>
            </div>
            <%}%>

        
            <%if(!order.hasStarted){ %>
            <div class="font16 bg-white padd10 margin10-bottom border-smooth">
                <div>
                    Waiting for buyer's requirements.
                </div>
            </div>
            <%}else{%>

            <%}%>

        <div class="hide">
            <div>
                <i class="fa fa-congratilations"></i>
                <span>Your order is now in progress</span>
            </div>
            <div>
                Late
            </div>
            <div>
                progress
            </div>

        </div>
        <%if(order.hasStarted){ %>



            <div class="margin10-bottom border-smooth">


                <div class="flex-between font16 bold padd10   requirements-toggle pointer">
                    <div>Requirements</div>
                    <i class="fa fa-angle-down"></i>
                </div>
                <div class="bg-white line-height requirements-detailed" style="font-size: 0px;transition: 0.3s;">
                    <div>
                        <%=requirements.content.requirements%>
                    </div>
                    <div class="margin10-top">
                        <h4 class="bold">Attachment:</h4>
                        <ul>
                            No attachment.
                        </ul>
                    </div>

                </div>
            </div>

            <section>
                <div class="flex-between border-bottom  bg-white border-smooth padd10-top-bottom">
                    <div style="display: flex;align-items: center;">

                        <span style="width: 20px;height: 20px;margin-right: 5px;"
                            class="font13 flex-center circle text-white user-icon bold"><%= recipient[0] %></span>
                        <span class="bold font13 margin5-right"><%= recipient %></span>
                        <% if(online || 5>timeElapse){ %>
                        <i class="fa fa-circle user-online margin5-right online-status-icon"
                            style="font-size: 1.3rem;"></i>
                        <span class="font13  margin5-right online-status-text">Active now</span>
                        <%}else if(timeElapse>=60*24*7){%>
                        <i class="fa fa-circle margin5-right online-status-icon" style="font-size: 1.3rem;"></i>
                        <span class="font13 margin5-right online-status-text">Offline</span>
                        <%}else{%>
                        <i class="fa fa-circle margin5-right text-orange online-status-icon"
                            style="font-size: 1.3rem;"></i>
                        <span class="font13 margin5-right online-status-text">Away (<%= ago %> ago)</span>
                        <%}%>

                    

                    <em class="typing-status invisible font13"></em>
                </div>
                <div>
                    
                    <div class="font13"></div>
                </div>
            </div>
            <div class="message-container">
                <div class="font16 bg-white padd10 bold text-orange center-text margin10-top border-smooth">
                    <i class="fa fa-clock-o margin5-right" aria-hidden="true"></i>
                    Order started-<%=order.startedAt.toDateString()%>
                    </div>
                    <% chats.forEach(chat=>{ %>
                    <% if(chat.from===loggedUser){%>


                    <div class="flex-end">
                        <div class="padd10 message-sent font13 ">
                            <div>
                                <div class="padd20-bottom">
                                    <%= chat.message%>
                                </div>
                                <div class="flex-end font10"><%=getDateAndTime(chat.createdAt) %>
                                    <% if(chat.read){ %>
                                    <i class="fa fa-check text-blue"></i>
                                    <i class="fa fa-check text-blue"></i>
                                    <%}else{%>
                                    <i class="fa fa-check unread"></i>
                                    <%}%>
                            </div>
                                
                        </div>
                    </div>
                </div>

                <%}else{%>
                                    <div class="flex-start">
                                        <div class="padd10 message-received font13">
                                            <div>
                                                <div class="padd20-bottom">
                                                    <%= chat.message%>
                                                </div>
                                                <div class="flex-end font10"><%=getDateAndTime(chat.createdAt)%></div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
            <%})%>

                                </div>
            </section>

            <div class="message-control bg-white padd10 padd10-bottom margin10-bottom border-smooth">
                <div style="margin-top: -5px;"><em class="typing-status invisible"></em></div>
                <div style="position:relative">
                    <textarea name="" cols="30" rows="2" class="fill-width padd8 outline-none border-smooth"
                        placeholder="Enter your message..." id="message"></textarea>
                    <small style="position:absolute;top:57px;left:10px;font-size:1rem"
                        class="font12 text-red hide chat-input-error"> <i class="fa fa-exclamation text-red"></i>
                        Message input field can no be empty</small>
                </div>
                <div style="margin-top: 5px;" class="flex-between">
                    <div>
                        <i class="fa fa-paperclip font16"></i>
                        <span class="font12">Multiple files allowed</span>
                    </div>
                    <button class="button send-chat-button">Send</button>
                </div>
            </div>
            <%}%>
                        <div class="border-smooth">
                            <header class="bg-heading padd20">
                                <h2 class=" bold font16">
                                    <i class="fa fa-gift"></i>
                                    Order Details
                                </h2>
                            </header>
                            <%if(order.hasStarted){%>
            <div class="bg-white ">
                <div class="font16 padd10 bold center-text">
                    <i class="fas fa-hourglass-start text-orange font18"></i>
                    Your Order is now in progress
                </div>
                <%if(!timer.timeIt){%>


                <div style="margin: 5px 50px;border-bottom:4px solid #e74a3b;padding-bottom: 5px; ">
                    Late
                </div>
                <%}else{%>
                <div class="grid4 center-text margin30-sides border-smooth padd10">
                    <div class="display-flex flex-column">
                        <span class="bold font20 text-orange" id="days">
                            <%=timer.days%>
                        </span>
                        <span>DAYS</span>
                    </div>
                    <div class="display-flex flex-column">
                        <span class="bold font20 text-orange" id="hours">
                            <%=timer.hours%>
                        </span>
                        <span>HOURS</span>
                    </div>
                    <div class="display-flex flex-column">
                        <span class="bold font20 text-orange" id="minutes">
                            <%=timer.minutes%>
                        </span>
                        <span>MINUTES</span>
                    </div>
                    <div class="display-flex flex-column">
                        <span class="bold font20 text-orange" id="seconds">
                            <%=timer.seconds%>
                        </span>
                        <span>SECONDS</span>
                    </div>

                </div>
                <%}%>
        </div>

        <%}%>
                <div class="font13 bg-white padd20">
                    <div>

                    </div>
                    <div class="padd10 grid4 border-bottom border-top">
                        <h4>ID</h4>
                        <h4>Total</h4>
                        <h4>To Deliver</h4>
                        <h4><%=order.seller===loggedUser?"Buyer":"Seller"%></h4>
                    </div>
                    <div class="padd10 grid4">
                        <div>
                            #<%=order.order_id%>
                        </div>
                        <div>
                            <%=order.price%>
                        </div>
                        <div>
                            <%=getDate(order.delivery_date)%>
                        </div>
                        <div>
                            <%=order.buyer===loggedUser?order.seller:order.buyer%>
                        </div>

                    </div>


                </div>
            </div>
            <div class="margin20-top">
                <button
                    class="blocck text-white center-text padd10 bg-dark-blue bold no-outline border-dark-blue full-width">
                    Dispute Order
                </button>
            </div>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>