<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>

</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="main request-page a-request">
        <%if(request.status==="awarded"){ %>

        <div class="font16 request-status-alert margin10-top">
            <i class="fa fa-check-circle text-green"></i> <span>Job has been awarded</span>
        </div>
        <%}%>
        <%if(request.status==="Open" && loggedUser===request.username){ %>


        <div>
            <button class="close-request"> Mark as closed</button>
        </div>
        <%}%>

        <div class="margin10-top border-smooth card-shadow">
            <h1 class="request-title bg-green2">
                <%= request.title %>
        </h1>
        <div class="flex-between font16 the-request-meta border-bottom">
            <div>
                <i class="fas fa-clock bold"></i>
                <span class="bold"> <%= request.delivery %>days</span></div>
            <div>
                <i class="fa fa-print bold"></i>
                <span class="bold"> <%= request.offers.length %> offers</span>
            </div>
            <div>
                <span class="text-green bold">₦<%= request.price %></span>
            </div>

        </div>
        <div class="request-description font16">
            <%= request.description %>

        </div>
        </div>
        <div class="margin20-top font14">
            <div>
                Category: <%= request.category %>
            </div>
            <div class="">
                by: <a href="#" class="text-link-with-hover"> <%= request.username %></a> - <i class="fas fa-clock"
                    style="font-size:1.4rem;"></i>
                <span> <%= request.createdAt.toDateString() %></span>


            </div>
        </div>

        <div class="card-shadow margin25-top padd20-bottom border-smooth bg-white">
            <h2 class="fon16 padd-head border-bottom" style="background: #f8f9fc;">
                <i class="fa fa-print bold"></i>
                <span>Offers</span>

            </h2>
            <%if(request.offers.length===0 && loggedUser===request.username){%>
            <div class="font16 padd10">No offer placed yet.</div>

            <%}else if(request.offers.length!==0 && loggedUser===request.username){%>




            <div class="font16 card-grid border-bottom">
                <div>
                    <div>
                        <img src="https://fixlancerwebapp.s3.us-east-2.amazonaws.com/1595288055327kai-wenzel-iv0XSA7WagE-unsplash.jpg"
                            alt="">
                    </div>
                </div>
                <div>
                    <div class="flex margin10-top">
                        <span class="user-avatar">B</span>
                        <a href="#" class="text-link-with-hover font18" style="margin-left: 4px;">Benni</a>
                    </div>
                    <div class="margin25-top" style="line-height:1.5;">
                        I can do this for you with a responsive and minimal interface.
                    </div>
                    <div class="margin20-top font25 bold">
                        ₦9,000
                    </div>
                    <div class="flex margin10-top">
                        <div class="margin40-right">
                            <i class="fa fa-star "></i>
                            <span class="font13 text-yellow">3.4(4)</span>
                        </div>
                        <div>
                            <i class="fas fa-clock text-green" style="font-size: 1.3rem;"></i>
                            <span class="font13">2days</span>
                        </div>
                    </div>
                    <div class="flex-between margin20-top">
                        <div>
                            <i class="far fa-comments"></i>
                            <a href="#" class="text-link-with-hover">Message</a>
                        </div>
                        <div>
                            <a href="#" class="font15 button-green">Order</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="font16 card-grid border-bottom">
                <div>
                    <div>
                        <img src="https://fixlancerwebapp.s3.us-east-2.amazonaws.com/1595288055327kai-wenzel-iv0XSA7WagE-unsplash.jpg"
                            alt="">
                    </div>
                </div>
                <div>
                    <div class="flex margin10-top">
                        <span class="user-avatar">B</span>
                        <a href="#" class="text-link-with-hover font18" style="margin-left: 4px;">Benni</a>
                    </div>
                    <div class="margin25-top" style="line-height:1.5;">
                        I can do this for you with a responsive and minimal interface.
                    </div>
                    <div class="margin20-top font25 bold">
                        ₦9,000
                    </div>
                    <div class="flex margin10-top">
                        <div class="margin40-right">
                            <i class="fa fa-star "></i>
                            <span class="font13 text-yellow">3.4(4)</span>
                        </div>
                        <div>
                            <i class="fas fa-clock text-green" style="font-size: 1.3rem;"></i>
                            <span class="font13">2days</span>
                        </div>
                    </div>
                    <div class="flex-between margin20-top">
                        <div>
                            <i class="far fa-comments"></i>
                            <a href="#" class="text-link-with-hover">Message</a>
                        </div>
                        <div>
                            <a href="#" class="font15 button-green">Order</a>
                        </div>
                    </div>
                </div>
            </div>
            <%}else if( request.status==="awarded"){ %>

            <div class="font16" style="padding:30px 10px 0px 10px;">
                <div style="padding: 15px 10px;background: #FCFAE4;" class="border-smooth">
                    <i class="fas fa-exclamation-triangle" style="color: #fe1b1b;"></i>
                    You cannot place a new offer as job is already awarded
                </div>
            </div>

            <%}else if(request.status==="Open") {%>
            <div class="bg-white" style="padding:20px 10px 10px 10px;">
                <div>
                    <fieldset>
                        <select name="" id="" class="bg-white">
                            <%fixes.forEach(fix=>{ %>
                            <option value=""><%= fix.title %></option>
                            <%})%>

                        </select>
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <textarea name="" id="" cols="30" rows="6"
                            placeholder="Enter your proposals with samples and why they should chose you..."></textarea>
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <select name="" id="" class="bg-white">
                            <option value="">Price</option>
                        </select>
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <select name="" id="" class="bg-white">
                            <option value="">Delivery Days</option>
                        </select>
                    </fieldset>
                </div>
                <div class="font16">

                    <input type="checkbox">
                    <span>
                        I accept i've read the project and can complete
                    </span>

                </div>
                <div class="margin30-top">
                    <fieldset>
                        <button>Place Offer</button>
                    </fieldset>
                </div>
            </div>

            <%}%>
                </div>


    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>